@import "tailwindcss";

:root {
  --backgroundHome: url("/textures/wall2.png");
}

.font-titulo {
  font-family: "Fleur De Leah", cursive;
}

.font-normal {
  font-family: "Faculty Glyphic", sans-serif;
}

body {
  background-image: var(--backgroundHome);
  background-repeat: repeat;
  background-color: #f5f5dc;
}
